/.vscode
/ex1-ijk_kij.exe
/ex1-ijk_kij.ilk
/ex1-ijk_kij.obj
/ex1-ijk_kij.pdb
/ex2-SIMD.exe
/ex2-SIMD.ilk
/ex2-SIMD.obj
/ex2-SIMD.pdb
/ex3-kij_SIMD.exe
/ex3-kij_SIMD.ilk
/ex3-kij_SIMD.obj
/ex3-kij_SIMD.pdb
/ex4-kij_SIMD_tile.exe
/ex4-kij_SIMD_tile.ilk
/ex4-kij_SIMD_tile.obj
/ex4-kij_SIMD_tile.pdb
/ex5-omp.exe
/ex5-omp.ilk
/ex5-omp.obj
/ex5-omp.pdb
/ex6-kij_SIMD_tile_omp.exe
/ex6-kij_SIMD_tile_omp.ilk
/ex6-kij_SIMD_tile_omp.obj
/ex6-kij_SIMD_tile_omp.pdb
/ex7-kij_SIMD_omp_tile.exe
/ex7-kij_SIMD_omp_tile.ilk
/ex7-kij_SIMD_omp_tile.obj
/ex7-kij_SIMD_omp_tile.pdb
/vc140.pdb
/vc143.idb
/vc143.pdb